<%= form_for(@run) do |f| %>
  <% if @run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@run.errors.count, "error") %> prohibited this run from being saved:</h2>

      <ul>
      <% @run.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table>
    <thead>
      <tr>
        <th>Lap Number</th>
        <th>Distance</th>
        <th><%= (@run.treadmill? ? 'Incline' : 'Temp') %></th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :laps do |lap| %>
        <% lap.object.weather || lap.object.build_weather %>
        <tr>
          <td><%= lap.object.number %></td>
          <td><%= lap.text_field :distance, value: lap.object.display[:distance] %></td>
          <td>
            <%= lap.fields_for :weather do |w| %>
              <%= w.text_field :temp %><br />
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
