<p id="notice"><%= notice %></p>

<h1>Listing Runs</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Time</th>
      <th>Miles</th>
      <th>Pace</th>
      <th>HR</th>
      <th>Temp | Incline</th>
      <th>Shoe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |run| %>
      <tr>
        <% if run.is_a? Run %>
          <td><%= link_to run.garmin_id, "http://connect.garmin.com/activity/#{run.garmin_id}" %></td>
          <td><%= run.time %></td>
          <td><%= run.display[:distance] %></td>
          <td><%= run.display[:pace] %></td>
          <td><%= run.mean_heart_rate %></td>
          <td><%= run.weather ? run.temp : run.treadmill? ? '-treadmill-' : link_to('Retrieve Weather', run_weather_index_path(run), method: :post, class: 'retrieve_weather') %></td>
          <td><%= run.shoe and run.shoe.name %></td>
          <td><%= link_to 'Show', run %></td>
          <td><%= link_to 'Edit', edit_run_path(run) %></td>
          <td><%= link_to 'Destroy', run, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td><%= link_to run, "http://connect.garmin.com/activity/#{run}" %></td>
          <td><%= link_to 'Import Run', runs_path(garmin_id: run), method: :post, class: 'import_run' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Run', new_run_path %>
