<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>

<br />
<br />

<% @run.display.each do |k,v| %>
  <%= "#{k}: #{v}" %>
  <br />
<% end %>

<% if @run.weather %>
  <% @run.weather.attributes.each do |k,v| %>
    <%= "#{k}: #{v}" %>
    <br />
  <% end %>
<% else %>
  <%= link_to 'Retrieve Weather', run_weather_index_path(@run), method: :post, id: 'retrieve_weather' %>
<% end %>



<h3>Laps</h3>
<table>
  <thead>
    <tr>
      <th>number</th>
      <th>begin_at</th>
      <th>distance</th>
      <th>mean_heart_rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @laps.each do |lap| %>
      <tr>
        <td><%= link_to lap.number, run_lap_path(@run, lap.number) %></td>
        <td><%= lap.begin_at %></td>
        <td><%= lap.distance %></td>
        <td><%= lap.mean_heart_rate %></td>
      </tr>
    <% end %>
  </tbody>
</table>