<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>

<br />
<br />

<% if @run.shoe_id %>
  Shoe: <%= link_to @run.shoe.name, shoe_path(@run.shoe) %>
<% end %>
<br />
<h4>Assign Shoe</h4>
<% @user.shoes.usable.each do |shoe| %>
  <%= link_to shoe.name, run_path(@run, 'run[shoe_id]' => shoe.id), method: :patch, class: 'assign_shoe' %>
<% end %>

<br />
<br />

<table>
  <% @run.display.each do |k,v| %>
    <tr>
      <td><%= k %></td>
      <td><%= v %></td>
    </tr>
  <% end %>

  <% if @run.treadmill? %>
    <% if @run.weather %>
      <tr>
        <td>Incline</td>
        <td><%= @run.temp %></td>
      </tr>
    <% else %>
      <tr>
        <td>
          <%= form_for(@run) do |f| %>
            <% @run.build_weather %>
            <%= f.fields_for :weather do |w| %>
              <%= w.label :incline %><br />
              <%= w.text_field :temp %><br />
            <% end %>
            <div class="actions">
              <%= f.submit %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      
    </tr>
    <tr>
      <td>Temp</td>
      <td class='temp'><%= @run && @run.temp %></td>
    </tr>
    <tr>
      <td>High</td>
      <td class='high'><%= @run && @run.high %></td>
    </tr>
    <tr>
      <td>Low</td>
      <td class='low'><%= @run && @run.low %></td>
    </tr>
  <% end %>
</table>



<h3>Laps</h3>
<table>
  <thead>
    <tr>
      <th>number</th>
      <th>Time</th>
      <th>distance</th>
      <th><%= @run.track? ? 'time' : 'pace' %></th>
      <th>HR</th>
      <th><%= @run.weather_label %></th>


      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @laps.each do |lap| %>
      <tr>
        <td><%= link_to lap.number, run_lap_path(@run, lap.number) %></td>
        <td><%= lap.time %></td>
        <td><%= lap.display[:distance] %></td>
        <td><%= @run.track? ? lap.display[:duration] : lap.display[:pace] %></td>
        <td><%= lap.mean_heart_rate %></td>
        <td><%= lap.temp %></td>
      </tr>
    <% end %>
  </tbody>
</table>