<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>

<br />
<br />

<% if @run.shoe_id %>
  Shoe: <%= link_to @run.shoe.name, shoe_path(@run.shoe) %>
<% end %>
<br />
<h4>Assign Shoe</h4>
<% @user.shoes.each do |shoe| %>
  <%= link_to shoe.name, run_path(@run, 'run[shoe_id]' => shoe.id), method: :patch, class: 'assign_shoe' %>
<% end %>

<br />
<br />

<% @run.display.each do |k,v| %>
  <%= "#{k}: #{v}" %>
  <br />
<% end %>

<% if @run.weather %>
  <% if @run.treadmill? %>
    Incline: <%= @run.weather.temp %>
  <% else %>
    <br />
    <%= link_to 'Destroy Weather', run_weather_path(@run.id, @run.weather.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <br />
    <% @run.weather.attributes.each do |k,v| %>
      <%= "#{k}: #{v}" %>
      <br />
    <% end %>
  <% end %>
<% else %>
  <% if @run.treadmill? %>
    <%= form_for(@run) do |f| %>
      <% @run.build_weather %>
      <%= f.fields_for :weather do |w| %>
        <%= w.label :incline %><br />
        <%= w.text_field :temp %><br />
      <% end %>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  <% else %>
    <%= link_to 'Retrieve Weather', run_weather_index_path(@run), method: :post, id: 'retrieve_weather' %>
  <% end %>
<% end %>



<h3>Laps</h3>
<table>
  <thead>
    <tr>
      <th>number</th>
      <th>Time</th>
      <th>distance</th>
      <th>pace</th>
      <th>HR</th>
      <th><%= @run.weather_label %></th>


      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @laps.each do |lap| %>
      <tr>
        <td><%= link_to lap.number, run_lap_path(@run, lap.number) %></td>
        <td><%= lap.time %></td>
        <td><%= lap.display[:distance] %></td>
        <td><%= lap.display[:pace] %></td>
        <td><%= lap.mean_heart_rate %></td>
        <td><%= lap.temp %></td>
      </tr>
    <% end %>
  </tbody>
</table>