<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @shoe.user %>
</p>

<p>
  <strong>Miles:</strong>
  <%= @shoe.miles %>
</p>

<p>
  <strong>Expectation:</strong>
  <%= @shoe.expectation %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @shoe.cost %>
</p>

<p>
  <strong>Location:</strong>
  <%= @shoe.location %>
</p>

<%= link_to 'Edit', edit_shoe_path(@shoe) %> |
<%= link_to 'Back', shoes_path %>
